MUJOCO_LOG.*
out/
data/
logs/
__pycache__/
*.py[cod]
*.pyo
wandb/
!checkpoints/pi05_base
checkpoints/pi05_base/model.safetensors
checkpoints/smolvla_base/model.safetensors
!checkpoints/paligemma-3b-pt-224
!checkpoints/smolvla_base
assets/transition/
videos*/
CachedProfilesData/
User/
wandb/
code-server/
Machine/
*.out
*.err
script_*.sh
*.bak
.venv/
.vscode/
coder.json
extensions/
ogsp_*.json
out_*.log
ms_agent.log
.cache/
